-r requirements.txt
pytest==7.2.0
pytest-mock==3.10.0
pytest-cov==2.12.1
pytest-xdist==2.5.0
freezegun==1.2.2
requests-mock==1.10.0
flake8==3.9.2
flake8-print==4.0.1
mypy==0.991
black==21.5b2
click==8.1.3