{% if complete_html %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta content="telephone=no" name="format-detection" /> <!-- need to add formatting for real phone numbers -->
  <meta name="viewport" content="width=device-width" />
  <title>Page title</title>

  <style type="text/css">
    @media only screen and (min-device-width: 581px) {
      .content {
        width: 580px !important;
      }
    }
    body { margin:0 !important; }
    div[style*="margin: 16px 0"] { margin:0 !important; }
    .force-white-bg { background-color: #fff; background: linear-gradient(#fff, #fff); background-image: url("https://assets.notification.canada.ca/1x1-ffffff.png"); }
    [data-ogsc] .force-white-bg { background-color: #fff; }
  </style>
  <!--[if gte mso 9]>
  <style>
     li {text-indent: -1em;}
  </style>
  <![endif]-->
</head>

<body style="font-family: Helvetica, Arial, sans-serif;font-size: 16px;margin: 0;color:#0b0c0c;">
{% endif %}
<span style="display: none;font-size: 1px;color: #fff; max-height: 0;">{{ preheader }}…</span>

<div style="height:20px">&nbsp;</div>
<!-- start primary template header EN + FR -->
{% if fip_banner_english or fip_banner_french or brand_name == "canada.ca-fr" %}
  <table role="presentation" style="border-collapse: collapse; width:100% !important; max-width: 580px; margin: 0px auto">
    <tr>
      <td width="100%" class="force-white-bg" style="border-radius: 10px;">
        <!-- start fip -->
        <table role="presentation" style="border-collapse: collapse; max-width: 286px;" align="left">
          <tr>
            <td style="line-height: 0px; border: 0; padding: 0">

              {% if fip_banner_english %}
              <img
                src="https://assets.notification.canada.ca/gc-logo-en.png?20210531"
                alt="Government of Canada / Gouvernement du Canada"
                height="55"
                width="286"
                border="0"
              />
              {% endif %}

              {% if fip_banner_french or brand_name == "canada.ca-fr" %}
               <img
                src="https://assets.notification.canada.ca/gc-logo-fr.png?20210531"
                alt="Gouvernement du Canada / Government of Canada"
                height="55"
                width="286"
                border="0"
              />
              {% endif %}

            </td>
          </tr>
        </table>
        <!-- end fip -->
      </td>
    </tr>
  </table>
<div style="height:30px">&nbsp;</div>
{% endif %}

{% if logo_with_background_colour %}
{% set brand_colour = brand_colour if brand_colour else '#0b0c0c' %}
<table role="presentation" style="border-collapse: collapse; width:100% !important; max-width: 580px; margin: 0px auto">
  <tr>
    <td width="100%" bgcolor="{{brand_colour}}" style="padding: 15px 0; background-color: {{brand_colour}}; background: linear-gradient({{brand_colour}}, {{brand_colour}}); border-radius: 10px;">
      <table role="presentation" width="100%" style="border-collapse: collapse;max-width: 580px; padding-left: 10px;" align="left">
        <tr>
          {% if brand_logo %}
            <td
              width="70"
              height="{% if brand_text -%} 27 {%- else -%} 54 {%- endif %}"
              bgcolor="{{brand_colour}}"
              valign="middle"
              style="padding: 10px 0px 12px 10px"
            >
              <img
                src="{{ brand_logo }}"
                border="0"
                style="display: block; border: 0;"
                height="{% if brand_text -%} 27 {%- else -%} 54 {%- endif %}"
                alt="{% if brand_text %} {% else -%}{{ brand_name }}{%- endif %}"
              />
            </td>
          {% endif %}
          {% if brand_text %}
            <td width="100%" bgcolor="{{brand_colour}}" valign="middle" align="left" style="padding: 10px 0 14px 10px">
              <span style="
                display: block;
                font-family: Helvetica, Arial, sans-serif;
                font-weight: 700;
                font-size: 19px;
                color: #ffffff;
                line-height: 25px;
                ">
                  {{ brand_text }}
              </span>
            </td>
          {% endif %}
        </tr>
      </table>
    </td>
  </tr>
</table>
<div style="height:30px">&nbsp;</div>
{% endif %}

{% if brand_logo and not logo_with_background_colour %}
<table role="presentation" style="border-collapse: collapse; width:100% !important; max-width: 580px; margin: 0px auto"
>
  <tr>
    <td width="100%" class="force-white-bg" style="border-radius: 10px;">
      <table role="presentation" style="border-collapse: collapse; max-width: 286px;" align="left">
        <tr>
            <td style="line-height: 0px; border: 0; padding: 0">
              <img 
                src="{{ brand_logo }}" 
                height="{% if brand_text -%} 27 {%- else -%} 108 {%- endif %}"
                width="286"
                border="0"
                alt="{% if brand_text %} {% else -%}{{ brand_name }}{%- endif %}" />
                </td>
                </tr>
                <tr>
                <td width="100%" style="font-family: Helvetica, Arial, sans-serif; font-size: 18px; line-height: 23px;" valign="center">
                  {% if brand_text %}
                  {{ brand_text }}
                  {% endif %}
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div style="height:30px">&nbsp;</div>
{% endif %}

<!-- main content -->
<table
    role="presentation"
    class="content"
    style="border-collapse: collapse; width:100% !important; max-width: 580px; margin: 0 auto;"
>
  <tr>
    <td style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.315789474; padding: 0 10px;">
        {{ body|safe }}
    </td>
  </tr>
</table>
<!-- end main content -->

{% if fip_banner_english or fip_banner_french or brand_name == "canada.ca-fr" %}
<div style="height:10px">&nbsp;</div>
<table role="presentation" width="100%" style="border-collapse: collapse; width:100% !important; max-width: 580px; margin: 0px auto;">
  <tr>
    <td width="100%" class="force-white-bg" style="text-align:right; width:100%!important; border-radius: 10px;">
      <table role="presentation" style="border-collapse: collapse; width: 100%!important; text-align: right;" align="right">
        <tr>
          <td style="line-height: 0px; border: 0; padding: 0">
            <img
              src="https://assets.notification.canada.ca/canada-logo.png?20210531"
              alt="Symbol of the Government of Canada / Symbole du gouvernement du Canada"
              width="123"
              height="55"
              border="0"
            />
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div style="height:20px">&nbsp;</div>
{% endif %}

{% if complete_html %}
</body>
</html>
{% endif %}
