{% if complete_html %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta content="telephone=no" name="format-detection" /> <!-- need to add formatting for real phone numbers -->
  <meta name="viewport" content="width=device-width" />
  <title>Page title</title>

  <style type="text/css">
    @media only screen and (min-device-width: 581px) {
      .content {
        width: 580px !important;
      }
    }
    body { margin:0 !important; }
    div[style*="margin: 16px 0"] { margin:0 !important; }
  </style>
</head>

<body style="font-family: Helvetica, Arial, sans-serif;font-size: 16px;margin: 0;color:#0b0c0c;">
{% endif %}
<span style="display: none;font-size: 1px;color: #fff; max-height: 0;">{{ preheader }}…</span>

<!-- start primary template header EN + FR -->
{% if fip_banner_english or brand_name == "canada.ca-fr" %}
  <table role="presentation" width="100%" style="border-collapse: collapse; min-width: 100%; width: 100% !important;" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td width="100%" height="53" bgcolor="#fff">
        <!-- start fip -->
        <table width="580" role="presentation" width="100%" style="border-collapse: collapse; max-width: 580px;" cellpadding="0" cellspacing="0" border="0" align="left">
          <tr>
            <td>
              
              {% if fip_banner_english %}
              <img
                src="https://notification-alpha-canada-ca-asset-upload.s3.amazonaws.com/gov-canada-en-01.png"
                alt="Government of Canada / Gouvernement du Canada"
                height="30"
                style="padding-left:10px;padding-bottom:30px"
                border="0"
              />
              {% endif %}

                <!-- FR Fip -->
               {% if brand_name == "canada.ca-fr" %}

               <img
                src="https://notification-alpha-canada-ca-asset-upload.s3.amazonaws.com/09d0d711-9c23-48ec-b21e-fc6acd2412bf-gov-canada-fr.png"
                alt="Gouvernement du Canada / Government of Canada"
                height="30"
                style="padding-left:10px;padding-bottom:30px"
                border="0"
              />

               {% endif %}


            </td>
          </tr>
        </table>
        <!-- end fip -->
      </td>
    </tr>
  </table>
{% endif %}

{% if logo_with_background_colour %}
{% set brand_colour = brand_colour if brand_colour else '#0b0c0c' %}
<table role="presentation" width="100%" style="border-collapse: collapse;min-width: 100%;width: 100% !important;" cellpadding="0" cellspacing="0" border="0">
  <tr style="margin-bottom:20px;">
    <td width="100%" height="53" bgcolor="{{brand_colour}}">
      <table role="presentation" width="100%" style="border-collapse: collapse;max-width: 580px;" cellpadding="0" cellspacing="0" border="0" align="left">
        <tr>
          {% if brand_logo %}
            <td
              width="70"
              height="{% if brand_text -%} 27 {%- else -%} 54 {%- endif %}"
              bgcolor="{{brand_colour}}"
              valign="middle"
              style="padding: 10px 0px 12px 10px"
            >
              <img
                src="{{ brand_logo }}"
                border="0"
                style="display: block; border: 0;"
                height="{% if brand_text -%} 27 {%- else -%} 54 {%- endif %}"
                alt="{% if brand_text %} {% else -%}{{ brand_name }}{%- endif %}"
              />
            </td>
          {% endif %}
          {% if brand_text %}
            <td width="100%" bgcolor="{{brand_colour}}" valign="middle" align="left" style="padding: 14px 0 14px 10px">
              <span style="
                display: block;
                font-family: Helvetica, Arial, sans-serif;
                font-weight: 700;
                font-size: 19px;
                color: #ffffff;
                line-height: 25px;
                ">
                  {{ brand_text }}
              </span>
            </td>
          {% endif %}
        </tr>
      </table> 

      <!-- push content -->
      <table>
        <tr>
          <td height="20">&nbsp;</td>
        </tr>
      <table>
      <!-- end push content -->

    </td>
  </tr>
</table>
{% endif %}

{% if brand_logo and not logo_with_background_colour %}
<table
  role="presentation"
  class="content"
  align="center"
  cellpadding="0"
  cellspacing="0"
  border="0"
  style="border-collapse: collapse;max-width: 580px; width: 100% !important;"
  width="100%"
>
  <tr>
    <td>
      <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse">
        <tr>
          <td height="24" width="100%" colspan="2"><br /></td>
        </tr>
        <tr>
          <td>
            <table role="presentation" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse">
              <tr>
                <td style="padding: 0 5px 0{% if brand_colour %} 7px; border-left: solid 2px {{ brand_colour }}{% else %} 0{% endif %}">
                  <img src="{{ brand_logo }}" style="padding-left:0; display: block; border: 0" height="{% if brand_text -%} 27 {%- else -%} 108 {%- endif %}"
                        alt="{% if brand_text %} {% else -%}{{ brand_name }}{%- endif %}" />
                </td>
                <td width="100%" style="font-family: Helvetica, Arial, sans-serif; font-size: 18px; line-height: 23px;" valign="center">
                  {% if brand_text %}
                  {{ brand_text }}
                  {% endif %}
                </td>
              </tr>
            </table>
            <!-- push content -->
            <table>
              <tr>
                <td height="20">&nbsp;</td>
              </tr>
            <table>
            <!-- end push content -->
          </td>
        </tr>
      </table>
    </td>
  </tr>
  </table>
{% endif %}

<!-- main content -->
<table
    role="presentation"
    class="content"
    align="center"
    cellpadding="0"
    cellspacing="0"
    border="0"
    style="border-collapse: collapse; max-width: 580px; width: 100% !important;"
    width="100%"
>
  <tr>
    <td width="560" style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.315789474; max-width: 560px;">
        {{ body|safe }}
    </td>
  </tr>
</table>
<!-- end main content -->
{% if fip_banner_english or brand_name == "canada.ca-fr" %}
<table role="presentation" width="100%" style="border-collapse: collapse;min-width: 100%; width: 100% !important;" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td width="100%" bgcolor="#fff"> 
      <table role="presentation" width="100%" style="border-collapse: collapse;max-width: 580px;" cellpadding="0" cellspacing="0" border="0" align="right">
        <tr>
          <td bgcolor="#fff" style="text-align:right;">
            <!-- start fip -->  
            <img
            src="https://cds-notification-assets.s3.ca-central-1.amazonaws.com/wmms-blk.png"
            alt=" "
            height="25"
            style="padding-top:20px;padding-right:10px;"
            border="0"
            style="Margin-top: 4px;"
          />
            <!-- end fip -->
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{% endif %}

{% if no_branding and brand_name != "canada.ca-fr" %}
  {{ body|safe }}
{% endif %}

{% if complete_html %}
</body>
</html>
{% endif %}
