<div style="height:10px">&nbsp;</div>
<table role="presentation" width="100%" style="border-collapse: collapse; width:100% !important; max-width: 580px; margin: 0px auto;">
  <tr>
    <td width="100%" class="force-white-bg" style="text-align:right; width:100%!important; border-radius: 10px;">
      <table role="presentation" style="border-collapse: collapse; width: 100%!important; text-align: right;" align="right">
        <tr>
          <td style="line-height: 0px; border: 0; padding: 0">
            <img
              src="https://assets.notification.canada.ca/canada-logo.png?20210531"
              alt="Symbol of the Government of Canada / Symbole du gouvernement du Canada"
              width="123"
              height="55"
              border="0"
            />
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div style="height:20px">&nbsp;</div>
