<div class="email-message mb-12">
  <table class="email-message-meta mb-12 leading-tight font-normal border border-solid border-gray-grey2">
    <tbody>
      {% if show_recipient %}
        {% if from_name %}
          <tr>
            <th class="email-message-table pl-doubleGutter text-gray-grey1" scope="row">[From]</th>
            <td class="email-message-table">
              {{ from_name }}
            </td>
          </tr>
        {% endif %}
        {% if reply_to %}
          <tr>
            <th class="email-message-table pl-doubleGutter text-gray-grey1" scope="row">[Reply to]</th>
            <td class="email-message-table">
              {{ reply_to }}
            </td>
          </tr>
        {% endif %}
        <tr>
          <th class="email-message-table pl-doubleGutter text-gray-grey1" scope="row">[To]</th>
          <td class="email-message-table">
            {{ recipient }}
          </td>
        </tr>
      {% endif %}
      <tr class="email-message-meta m-0 text-smaller leading-tight font-normal">
        <th class="email-message-table pl-doubleGutter text-gray-grey1" scope="row">[Subject]</th>
        <td class="email-message-table">
          {{ subject }}
        </td>
      </tr>
    </tbody>
  </table>

  <div class="email-message-body w-full relative break-words box-border px-doubleGutter border-gray-grey2 border">

    <div style="max-width: 580px; margin: 0 auto;">
      {% if fip_banner_english %}
        <div style="margin: 20px auto 30px auto;">
          <img
            src="https://{{ asset_domain }}/gc-logo-en.png"
            alt="Government of Canada / Gouvernement du Canada"
            height="55"
            width="281"
          />
        </div>
      {% endif %}

      {% if fip_banner_french or brand_name == "canada.ca-fr" %}
        <div style="margin: 20px auto 30px auto;">
          <img
            src="https://{{ asset_domain }}/gc-logo-fr.png"
            alt="Gouvernement du Canada / Government of Canada"
            height="55"
            width="281"
          />
        </div>
      {% endif %}

      {% if brand_logo %}
        <div style="margin: 20px auto 30px auto; padding: 0 5px 0 {% if brand_colour %} 8px; border-left: solid 2px {{ brand_colour }}{% else %} 10px{% endif %}; display: inline-block">
        <img
          src="https://{{ asset_domain }}/{{ brand_logo }}"
          style="padding-left:0; display: block; border: 0; height:{% if brand_text -%} 27 {%- else -%} 108 {%- endif %}px"
          alt="{% if brand_text %} {% else -%}{{ brand_name }}{%- endif %}"
        />
        </div>

        <p style="font-family: Helvetica, Arial, sans-serif; font-size: 18px; line-height: 23px; display: inline-block">
          {% if brand_text %}
          {{ brand_text }}
          {% endif %}
        </p>
      {% endif %}

      <div style="padding: 0 10px">
        {{ body }}
      </div>

      {% if fip_banner_english or fip_banner_french or brand_name == "canada.ca-fr" %}
        <div style="margin: 10px 0 20px 0; float: right">
          <img
            src="https://{{ asset_domain }}/canada-logo.png"
            alt="Symbol of the Government of Canada / Symbole du gouvernement du Canada"
            height="55"
            width="123"
          />
        </div>
        <div style="clear:both;"></div>
      {% endif %}
    </div>
  </div>
</div>
