docopt==0.6.2
Flask==2.2.2
markupsafe==2.1.1
#git+https://github.com/cds-snc/notifier-utils.git@48.3.0#egg=notifications-utils
git+https://github.com/cds-snc/notifier-utils.git@383170851bc121cb81e9ef636f11bb4ab758f510#egg=notifications-utils # temporarily adding the upgraded utils all-minor PR
